
/* Add an active class to highlight the current page */
.active1 {
    background-color: #f26522;
    color: white;
}

  .navbar {
      margin-bottom: 0;
      background-color:	#009999;
      border: 0;
      font-size: 13px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color:	#009999 !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
      
  }   


