.bar{
	background:#563D7C ;
	padding:4px 2px;
}

/*#563D7C
f26522
*/
.social_icon_margin{
	margin-right:5px;
}

.contact_info{
    color: white ;
    font-size:  16px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

    
   




 
  